<plugin name='keywords-and-tags' version='0.1' grailsVersion='2.0 &gt; *'>
  <author>Kamil Mikolajczyk</author>
  <authorEmail>rego@gazeta.pl</authorEmail>
  <title>Keywords And Tags Plugin</title>
  <description>This plugin provides a taglib able to highlight keywords/tags on your pages for SEO purposes.
</description>
  <documentation>http://grails.org/plugin/keywords-and-tags</documentation>
  <type>KeywordsAndTagsGrailsPlugin</type>
  <resources>
    <resource>pl.reg0.grailsplugins.keywordsandtags.KeywordsAndTagsTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>